@{
    ViewData["Title"] = "Home Page";
    string sl = "https://i.stack.imgur.com/yVjbo.png";
}

<div class="text-center">
    <h1 class="display-4">Welcome to White Space</h1>
    <img src=@sl />
</div>
@(await Html.RenderComponentAsync<FilmReview.Components.Example>(RenderMode.ServerPrerendered, new{}))
